#details {
    padding-block: 30px;
    padding-inline: 60px;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #91AEC1;
}

#details #less-important {
    font-weight: lighter;
}

#details #title {
    font-size: 3rem;
}

#admin {
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
}

#admin .btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin img {
    width: 30px;
}

#content {
    padding: 30px;
}